My workflow 5 (3).json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "462ba3f3-fb62-410e-8569-d8ba6ce5ff92",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=Apple+OR+Microsoft+OR+Meta+OR+Google+OR+Nvidia+OR+Amazon+OR+Tesla&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "e7a6536b-99e1-4662-8df6-4b25d88635b8",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nreturn items.filter(item => {\n  const key = item.json.link || item.json.title;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n// Keep your original processing code here, just make sure the final return looks like this:\nreturn $input.all().slice(0, 10);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        0
      ],
      "id": "71c2bb28-459e-4687-b2ba-5dbe1959fa0d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const items_out = [];\n\n// 1. Only process the top 5 articles to stay safely inside Groq's free rate limits\nconst limitedItems = items.slice(0, 5);\n\n// Helper function to force n8n to pause between API calls\nconst delay = ms => new Promise(resolve => setTimeout(resolve, ms));\n\nfor (const item of limitedItems) {\n  const title = (item.json.title || \"\").replace(/\"/g,\"\").replace(/'/g,\"\").replace(/\\n/g,\" \");\n  \n  try {\n    // 2. Make the live AI request to Groq\n    const response = await this.helpers.httpRequest({\n      method: \"POST\",\n      url: \"https://api.groq.com/openai/v1/chat/completions\",\n      headers: {\n        \"Authorization\": \"Bearer YOUR_API_KEY\",\n        \"Content-Type\": \"application/json\"\n      },\n      body: {\n        model: \"llama-3.3-70b-versatile\",\n        max_tokens: 300,\n        messages: [{\n          role: \"user\",\n          content: \"Analyze this tech headline for stock impact. Return JSON only with keys: sentiment (Positive/Negative/Neutral), company (or null), reason (1 sentence), confidence (0.0-1.0). Headline: \" + title\n        }]\n      },\n      json: true\n    });\n    \n    items_out.push({\n      json: {\n        title: item.json.title,\n        link: item.json.link,\n        pubDate: item.json.pubDate,\n        ai_result: response.choices[0].message.content\n      }\n    });\n\n    // 3. Pause for 2 seconds before analyzing the next headline to prevent 429 errors\n    await delay(2000);\n\n  } catch (error) {\n    console.error(\"Groq API error on headline: \" + title, error);\n    \n    // FALLBACK: If Groq hits a limit anyway, pass the article through blank \n    // so your pipeline keeps moving forward without breaking!\n    items_out.push({\n      json: {\n        title: item.json.title,\n        link: item.json.link,\n        pubDate: item.json.pubDate,\n        ai_result: '{\"sentiment\": \"Neutral\", \"company\": \"Unknown\", \"reason\": \"AI Analysis skipped due to rate limit.\"}'\n      }\n    });\n  }\n}\n\nreturn items_out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "46ed2309-0961-43e0-b7ec-246c8f992ba4",
      "name": "Code in JavaScript1",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming articles from the feed\nfor (let item of $input.all()) {\n    // Read the headline title and lowercase it so search isn't case-sensitive\n    let titleText = (item.json.title || '').toLowerCase();\n    \n    // Scan the headline text for company keywords and tag them cleanly\n    if (titleText.includes('apple') || titleText.includes('iphone') || titleText.includes('macbook')) {\n        item.json.Company = 'Apple';\n    } else if (titleText.includes('microsoft') || titleText.includes('windows')) {\n        item.json.Company = 'Microsoft';\n    } else if (titleText.includes('meta') || titleText.includes('facebook') || titleText.includes('instagram')) {\n        item.json.Company = 'Meta';\n    } else if (titleText.includes('google') || titleText.includes('alphabet') || titleText.includes('youtube')) {\n        item.json.Company = 'Google';\n    } else if (titleText.includes('nvidia') || titleText.includes('gpu')) {\n        item.json.Company = 'Nvidia';\n    } else if (titleText.includes('amazon')) {\n        item.json.Company = 'Amazon';\n    } else if (titleText.includes('tesla') || titleText.includes('elon musk')) {\n        item.json.Company = 'Tesla';\n    } else {\n        // Fallback name if it's a general tech article\n        item.json.Company = 'Tech Giant'; \n    }\n}\n\n// Pass the updated items with clean company names down the line\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "dc1ce6c5-9f5d-4c2a-b72e-d65d639b9234",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const allArticles = items.map(item => `\n  <tr>\n    <td><a href=\"${item.json.link}\">${item.json.title}</a></td>\n    <td style=\"color:${item.json.sentiment === 'Positive' ? 'green' : item.json.sentiment === 'Negative' ? 'red' : 'gray'}\">${item.json.sentiment}</td>\n    <td>${item.json.company}</td>\n    <td>${item.json.reason}</td>\n    <td>${item.json.confidence}</td>\n  </tr>\n`).join('');\n\nreturn [{\n  json: {\n    emailBody: `\n      <h2>📰 Daily Tech News Sentiment Report</h2>\n      <table border=\"1\" cellpadding=\"8\" style=\"border-collapse:collapse;width:100%\">\n        <tr style=\"background:#4A90D9;color:white\">\n          <th>Title</th><th>Sentiment</th><th>Company</th><th>Reason</th><th>Confidence</th>\n        </tr>\n        ${allArticles}\n      </table>\n    `,\n    totalArticles: items.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "id": "1c4dfee1-5423-497a-99ac-e55653c7869b",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "sendTo": "nandinisuryavanshi084@gmail.com",
        "subject": "Daily Tech News Sentiment Report",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        0
      ],
      "id": "f4ede5a7-cc9f-4466-8b1d-44ac7cc3590e",
      "name": "Send a message",
      "webhookId": "15ef00cf-d782-4eef-95f7-4acba87b0ccc",
      "credentials": {
        "gmailOAuth2": {
          "id": "tSvVnC7rpd9X8IdR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18hm1oS3TQNpG2-zJJym-0_ZQGg1LF_cb6QfTnG_BonI",
          "mode": "list",
          "cachedResultName": "Tech News Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18hm1oS3TQNpG2-zJJym-0_ZQGg1LF_cb6QfTnG_BonI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18hm1oS3TQNpG2-zJJym-0_ZQGg1LF_cb6QfTnG_BonI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Link": "={{ $json.link }}",
            "Sentiment": "={{ $json.sentiment }}",
            "Company": "={{ $json.company }}",
            "Reason": "={{ $json.reason }}",
            "Confidence": "={{ $json.confidence }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        176
      ],
      "id": "16a614b8-d40a-4036-ad97-22e4f3895043",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "koJhqOk0Yxz6tXt5",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "92c7ac0f-c663-4b5a-9c96-aba8ecde7052",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a77c13c44094a00f1467efeac62602b3aff5bcde4623e4f1987da778852ac17"
  },
  "nodeGroups": [],
  "id": "4Yl7Bq5EFwprsvk7",
  "tags": []
}